@charset "utf-8";
/* styles2 is a copy and paste of styles.css, however I've removed the flex direction so the sections appear in a collumn*/
/* Basic layout styles | Got a bit short on time so this section is partially taken from Lesson 13's style.css. Just wanted to make it look pretty */
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background: black;
    font-size: 100%;
}
#container {
    background: rgb(77, 36, 8);
    width: 75%;
    margin: 0 auto;
    padding: 2.5%;
}
header, footer {
    background: black;
    padding: 2.5%;
    margin-bottom: 1em;
}
section{
    background: #b8b8b4;
    padding: 2.5%;
    margin-bottom: 1em;
}
main {
    display: flex;
    flex-direction: column;
}

/* Where I start to impliment my own styling */

/* Fonts */

html {
    font-family: "Comic Sans MS", sans-serif;
}

/* Positioning */

header {
    text-align: center;
    border: 3px solid black;
}
header p {
    padding-bottom: 10px;
}
section {
    text-align: center;
}
footer {
    text-align: center;
    padding: 0.01%;
    border: 3px solid black;
    color: white;
}

/* Header | Some code for the nav borrowed from Lab E*/

header h1 {
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(197, 79, 0);
    text-decoration: underline;
    text-transform: uppercase;
}
header p {
    text-transform: capitalize;
    color: yellow;
}
header nav ul{
    border: 4px, solid, rgb(255, 255, 255);
}
header nav ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
}
header nav li{
    display: inline-block;
}
header nav a:link {
    padding: 1em;
	text-decoration: none;
	background-color: rgb(77, 36, 8);
	color: yellow;
    border: 1px solid black;
}
header nav a:visited {
	color: yellow;
    border: 1px solid black;
}
header nav a:hover {
    color: yellow;
    border: 1px solid yellow;
}
header nav a:focus {
    color: yellow;
    border: 1px solid yellow;
}

/* Sections */

section {
    border: 3px solid black;
}
section h2 {
    font-size: 40px;
    text-transform: uppercase;
}
section img {
    border: 5px solid black;
    background: rgb(116, 116, 116);
    padding-left: 10px;
    padding-right: 10px;
}
#title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
}
#imagelabel {
    padding-bottom: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}
#prices {
    text-decoration: underline;
    font-family: sans-serif;
}
#nameplate {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 4px inset gold;
    background: gold;
}
#quote {
    font-style: italic;
    font-weight: bold;
    font-family: serif;
    border: 2px inset grey;
    background: grey;
}
#about {
    list-style-type: disc;
    list-style-position: inside;
}
#yapping {
    max-width: 90%;
    position: relative;
    left: 5%;
}
strong {
    text-decoration: underline;
}

/* Section Links */

section a:link, section a:visited {
    color: navy;
    text-decoration: underline;
}
section a:hover {
    color: yellow;
}
section ul {
    list-style-type: none;
    position: relative;
    right: 2.1%;
}